.container {
    width: 57rem;
    min-height: 48rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.header {
    width: 102%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .links {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usuario button {
    color: whitesmoke;
}

.titulo-e-menu {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.alternativa-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, p {
    margin: 0;
}

table {
    width: 100%;
}

.table {
    padding: 1rem;
    border: 1px solid whitesmoke;
}

.table2 {
    position: relative;
    left: -2px;
}

table tr, td {
    margin: 0;
    padding: 0;
}

.scrollit {
    overflow-y: scroll;
    max-height: 450px;
}

thead > tr {
    background-color: whitesmoke;
    color: black;
}

thead > tr > th {
    text-align: left;   
    padding: .25rem .5rem;
}

table > tr > td {
    padding: .25rem .5rem;
}

.acoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


table > tr:hover > td {
    background-color: crimson;
}

tr:hover > td > div > .btn-icon {
    background-color: whitesmoke;
}

tr:hover > td > div > .btn-icon:active {
    background-color: rgb(211, 211, 211);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--slider-background);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: whitesmoke;
}

.upload-progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: normal;
}



