<div class="container">
    <div class="header">
        <div class="links">
            <span class="material-symbols-rounded">undo</span>
            <a routerLink="/home" class="link" target="_blank" style="text-transform: none;">Home</a>
        </div>
        <div class="usuario">
            <p style="text-transform: none;">{{usuario}}</p>
            <button title="Sair" class="btn btn-icon" (click)="logout()">
                <span class="material-symbols-rounded">logout</span>
            </button>
        </div>
    </div>
    <div class="titulo-e-menu">
        <h1>Musicas</h1>
        <button class="btn btn-small" title="Adicionar" style="margin-right: auto;" (click)="openFormDialogAdd()">
            <span class="material-symbols-rounded">add</span>
        </button>
        <div class="input-wrapper">
            <span class="material-symbols-rounded">search</span>
            <input class="input" type="text" placeholder="Buscar" [(ngModel)]="search">
        </div>
        
    </div>
    <table class="table">
        <thead>
            <tr>
                <th width="20" style="text-align: center; border-radius: .25rem 0 0 .25rem;">#</th>
                <th width="150">Nome</th>
                <th width="200">Alternativa</th>
                <th width="160">Arquivo</th>
                <th width="80">Tamanho</th>
                <th style="border-radius: 0 .25rem .25rem 0;">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">
                    <div class="scrollit">
                        <table class="table2">
                            <tr *ngFor="let musica of musicas | filter: search">
                                <td width="20.4" style="text-align: center; border-radius: .3rem 0 0 .3rem;">{{musica.id}}</td>
                                <td width="150" style="word-break: break-all;">{{musica.nome}}</td>
                                <td width="200">
                                    <div class="alternativa-wrapper">
                                        <p style="max-width: 70%;">{{musica.alternativa?.nome || '--'}}</p>
                                        <button class="btn btn-small" (click)="openFormDialogAlternativa(musica, musica.alternativa)">
                                            <span class="material-symbols-rounded">{{musica.alternativa ? 'edit_note' : 'playlist_add' }}</span>
                                        </button>
                                    </div>
                                </td>
                                <td width="160" style="text-transform: none; word-break: break-all;">
                                    <div *ngIf="musica.uploading" class="upload-progress">
                                        <mat-progress-bar style="max-width: 75%;" mode="determinate" [value]="musica.uploadProgress"></mat-progress-bar>
                                        <p>{{musica.uploadProgress}}%</p>
                                    </div>
                                    <a *ngIf="!musica.uploading" [href]="musica.arquivo?.diretorio" target="_blank" class="link">{{musica.arquivo?.nomeArquivo || '--'}}</a>
                                </td>
                                
                                <td width="80">
                                    <p>{{(musica.arquivo?.tamanho / 1000000).toFixed(1)}} MB</p>
                                </td>
                                <td style="border-radius: 0 .3rem .3rem 0;">
                                    <div class="acoes">
                                        <button class="btn btn-small" title="Editar" (click)="openFormDialogEdit(musica.id, musica.nome)">
                                            <span class="material-symbols-rounded">edit</span>
                                        </button>
                                        <button class="btn btn-small" title="Arquivo" (click)="openFormDialogArquivo(musica)">
                                            <span class="material-symbols-rounded">{{musica.arquivo ? 'attach_file' : 'attach_file_add'}}</span>
                                        </button>
                                        <button class="btn btn-small btn-icon" style="color: crimson;" title="Remover" (click)="remover(musica.id)">
                                            <span class="material-symbols-rounded">delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <img src="../../../assets/separatorLight.png" style="width: 80%;">

</div>
