<div class="container">
    <div class="dialog-box">
        <form>
            <div class="titulo-close">
                <h1>{{data.id ? 'Editar' : 'Adicionar'}}</h1>
                <button type="button" class="btn btn-small btn-icon" style="color: whitesmoke;" (click)="onNoClick()">
                    <span class="material-symbols-rounded">close</span>
                </button>
            </div>
            <div class="input-and-btn">
                <div class="input-wrapper">
                    <h3>#{{data.id}}</h3>
                    <input type="text" class="input" [formControl]="nome" placeholder="Nome">  
                    
                </div> 
                <button type="submit" class="btn btn-small {{!isValid() ? 'btn-disabled' : ''}}" [mat-dialog-close]="nome.value" [disabled]="!isValid()">
                    <span class="material-symbols-rounded">done</span>
                </button> 
            </div>
        </form>
    </div>
</div>
