<div class="container">
    <div class="div" *ngIf="!jogo.jogando">
        <p>Você acertou {{index}} de {{perguntas.length}}.</p>
        <p *ngIf="!jogo.ganhador">Fail!</p>
        <p *ngIf="jogo.ganhador">God Gamer!</p>
        <button (click)="recomecar()">Play again?</button>
    </div>

    <div class="controls">
        <button (click)="handleClick()" class="btn-play-pause">
            <span *ngIf="!isMusicaTocando()">Play</span>
            <span *ngIf="isMusicaTocando()">Pause</span>
        </button>
        <div class="volume-slider">
            <input class="range" type="range" min="0" max="1" step=".05" [value]="getDefaultVolume()" (input)="setVolume($event)">
            <div class="progress" [style.width.%]="getVolume()"></div>
        </div>
    </div>
    

    
    <div class="perguntas" *ngIf="jogo.jogando">
        <form *ngIf="perguntas.length">
            <h1>{{pergunta.musica.nome.toUpperCase()}}</h1>

            <div class="alternativas" *ngFor="let alternativa of pergunta.alternativas">
                <input [formControl]="respostaInput" type="radio" name="alternativa" [value]="alternativa.id" [id]="+alternativa.id+'_'+pergunta.musica.id">
                <label [for]="+alternativa.id+'_'+pergunta.musica.id">{{alternativa.nome}}</label>
            </div>
        </form>
        <button (click)="responder()">Próxima</button>
        <button (click)="recomecar()">Home</button>
    </div>
    <div class="separator">
        <img src="../../../assets/separatorLight.png" class="separator-img">
    </div>
</div>
