.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 3rem;
    width: 25rem;
    margin: auto;
}

.controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem
}

.volume-slider {
    max-width: 5rem;
    position: relative;
    display: flex;
}

.range {
    width: 5rem;
    height: .25rem;
    appearance: none;
    background-color: rgb(41, 41, 41);
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    z-index: 999;
    position: relative;
    background-color: whitesmoke;
    border-radius: 50%;
}

.bar {
    width: 100%;
    height: .25rem;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    border-radius: 1rem;
    overflow: hidden;
}

.bar .progress {
    display: block;
    width: 50%;
    height: 100%;
    background-color: whitesmoke;

}

.resposta {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.resposta > p {
    font-size: large;
}

.form > p {
    margin-top: 0;
}

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    padding: 2rem;
    gap: 1.5rem;
    min-width: 90%;
}

.perguntas > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.alternativas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
}

.alternativa {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 1.5rem;
    padding: .75rem;
    background-color: transparent;
    transition: .25s;
}

.alternativa:hover {
    background-color: whitesmoke;
    color: black;
    transition: .1s;
}

.alternativa:hover > input {
    border: 1px solid black;
}

.alternativa > label:hover {
    cursor: pointer;
}

.alternativa > input {
    appearance: none;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 1rem;
    height: 1rem;
    margin: 0;
    transition: .2s;
}

.alternativa > input:checked {
    background-color: crimson;
    border: 2px solid whitesmoke;
    transition: .2s;
}

.alternativa > input:hover {
    cursor: pointer;
}

.alternativa-resposta {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    border: 1px solid white;
    border-radius: 1.5rem;
    padding: .75rem;
    background-color: transparent;
}

.alternativa-resposta > input {
    appearance: none;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 1rem;
    height: 1rem;
    margin: 0;
    transition: .2s;
}

.errado {
    background-color: crimson;
}

.errado > input:checked {
    border: 2px solid whitesmoke;
    background-color: crimson;
}

.certo {
    background-color: rgb(0, 139, 116);
}

.certo > input:checked {
    border: 2px solid whitesmoke;
    background-color: rgb(0, 139, 116);
}

.separator {
    width: 100%;
    height: auto;
}

.separator-img {
    max-width: 100%;
}



