
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat.core();

$hollow-knight-song-guesser-primary: mat.define-palette(mat.$indigo-palette);
$hollow-knight-song-guesser-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$hollow-knight-song-guesser-warn: mat.define-palette(mat.$red-palette);

$hollow-knight-song-guesser-theme: mat.define-light-theme((
  color: (
    primary: $hollow-knight-song-guesser-primary,
    accent: $hollow-knight-song-guesser-accent,
    warn: $hollow-knight-song-guesser-warn,
  )
));

@include mat.all-component-themes($hollow-knight-song-guesser-theme);

//snackbar scss
.snack-bar  {
  border: .5px solid whitesmoke;
  font-size: large;
  font-weight: bold;
  text-transform: none;

}

.mat-mdc-snack-bar-container {
  &.snack-bar {
    margin-bottom: 2rem;
    --mdc-snackbar-container-color: transparent;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.snack-bar-success {
    --mdc-snackbar-supporting-text-color: var(--success);
    --mat-mdc-snack-bar-button-color: var(--success);
  }

  &.snack-bar-error {
    --mdc-snackbar-supporting-text-color: var(--error);
    --mat-mdc-snack-bar-button-color: var(--error);

  }
}

//mat progress bar
.mat-mdc-progress-bar {
  border-radius: 1rem;
  --mdc-linear-progress-active-indicator-color: crimson;

  &.mat-mdc-progress-bar
  .mdc-linear-progress__buffer-bar {
    background-color: var(--slider-background);
  }
}

.mat-mdc-progress-spinner { 
  --mdc-circular-progress-active-indicator-color: whitesmoke; 
}

.mdc-circular-progress__gap-patch {
  width: 0 !important;
  height: 0 !important;
}



