/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Perpetua';
    src: url('../src/assets/perpetua.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke;
    font-family: 'Perpetua';
    text-transform: uppercase;
}