/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Perpetua';
    src: url('../src/assets/perpetua.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke;
    font-family: 'Perpetua';
    text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.btn {
    border: none;
    border-radius: 50%;
    font-family: 'Perpetua';
    text-transform: uppercase;
    transition: .2s;
    font-size: medium;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .1s;
}

.btn:active {
    background-color: rgb(211, 211, 211);
    transform: scale(.95);
}

.btn-medium {
    width: 5rem;
    height: 5rem;
}