@font-face {
    font-family: 'Perpetua';
    src: url('../src/assets/perpetua.ttf');
}

:root {
    --success: rgb(0, 139, 116);
    --error: crimson;
    --btn-disabled: rgb(72, 72, 72);
    --btn-active: rgb(211, 211, 211);
    --slider-background: rgb(24, 24, 24);
}

* {
    font-family: 'Perpetua';
}

html,
body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.text-disabled {
    color: var(--btn-disabled);
}

.text-secondary {
    color: var(--btn-active);
}

.text-success {
    color: var(--success);
}

.text-error {
    color: var(--error);
}

.btn {
    border: none;
    border-radius: 50%;
    font-family: 'Perpetua';
    text-transform: uppercase;
    transition: .2s;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .1s;
}

.btn:active {
    background-color: var(--btn-active);
    transform: scale(.95);
}

.btn-big {
    width: 7rem;
    height: 7rem;
    font-size: larger;
}

.btn-medium {
    width: 5rem;
    height: 5rem;
}

.btn-small {
    width: 2.5rem;
    height: 2.5rem;
}

.btn-icon {
    background-color: transparent;
}

.btn-icon:active {
    color: var(--btn-active);
    background-color: transparent;
}

.btn-disabled:hover {
    transform: scale(1);
    cursor: default;
}

.btn-disabled:active {
    transform: scale(1);
    cursor: default;
    background-color: var(--btn-disabled);
}

.icon {
    font-size: 48px;
}



.link {
    text-decoration: none;
    color: whitesmoke;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.input-wrapper {
    display: flex;
    align-items: center;
    background-color: black;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    padding: .25rem .75rem;
    transition: .3s;
    overflow: hidden;
}

.input {
    width: 15rem;
    padding: .5rem;
    border: none;
    background-color: transparent;
    color: whitesmoke;
    font-family: 'Perpetua';
    font-size: large;
}

.input:focus {
    outline: none;
}

.mat-mdc-dialog-container
.mdc-dialog__surface {
    border: 1px solid whitesmoke;
    border-radius: 0 !important;
    background-color: black !important;
    border-radius: 1;
    padding: 1rem;
}









